h1 {
    font-family: 'Bungee', cursive;
    text-decoration: underline;
    color: white;
}

div {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: gray;
}

.center-text {
    margin-left: auto;
    margin-right: auto;
}
